:root {
    --fontFamily: 'Times New Roman', Times, serif;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--fontFamily);
}
button {
    font-family: var(--fontFamily);
}
.welcome {
    width: 100vw;
    height: 100vh;

    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.welcomeText {
    font-size: 3em;
    margin-bottom: 2rem;
}
.registerForm {
    display: flex;
    flex-direction: column;
}
.registerFormLabel {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}
.registerFormInput {
    margin-bottom: 1rem;
    font-size: 1.5em;
}
.registerFormButton {
    font-size: 2em;
    padding: 5px 35px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.registerFormButton:disabled {
    cursor: auto;
}

.header {
    width: 95vw;
    height: 5vh;
    border-bottom: 2px solid #3f59e9;
    margin-bottom: 2vh;

    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerNav {
    display: flex;
    
    gap: 20px;
}
.headerNav li {
    display: inline;
    text-decoration: none;
}
.headerNav li img {
    width: 25px;
}
.headerNav li img:first-child {
    width: 25px;
}
.headerNav li img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.previewFight {
    display: flex;
    justify-content: center;
}
.goFight {
    font-size: 2em;
    padding: 20px 30px;
}

.fight {
    width: 95vw;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-self: center;
}
.fightCharacterEnemy {
    width: 100%;
    height: 63vh;
    display: flex;
    margin-bottom: 2vh;
}
.fightCharacter,
.fightMainForm,
.fightEnemy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    height: 100%;
}
.characterName, 
.enemyName {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.fightCharacterEnemy img {
    max-width: 300px;
    min-width: 210px;
    width: 100%;
    max-height: 450px;
    min-height: 320px;
    height: 100%;
    margin-bottom: 1vh;
}
progress {
    width: 300px;
    height: 20px;
    background: fixed;
}
progress::-webkit-progress-bar {
    background: rgb(145, 5, 5);
}
progress::-webkit-progress-value {
    background: green;
}
.fightMainForm p {
    font-size: 1.3em;
    margin-bottom: 5vh;
}
.fightFormContainer {
    font-size: 1.2em;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.fightFormCharacter,
.fightFormEnemy {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
}
.fightFormCharacter input,
.fightFormEnemy input {
    margin-right: 1em;
}
.separator {
    width: 1px;
    height: 100%;
    background-color: black;
}
.buttonAttack {
    font-size: 2em;
    font-weight: 100;
    margin: 2em 0;
    padding: 5px 30px;
}

.fightLog {
    height: 25vh;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 5px;
}
.characterInfoContainer {
    display: flex;
    width: 95vw;
    justify-self: center;
    column-gap: 20px;
}
.characterInfo-data {
    display: flex;
    flex-direction: column;
}
.characterInfo-data p:nth-child(2){
    color: green;
}
.characterInfo-data p:nth-child(3){
    color: red;
}

.characterInfo-avatar .characterAvatar:hover {
    opacity: 50%;
}

/* popup for choosing avatar */
.characterInfo-ChooseAvatarbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.characterInfo-ChooseAvatar {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Avatar1:hover,
.Avatar2:hover,
.Avatar3:hover {
    opacity: 70%;
}

.characterSettings {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
}
.characterSettingsGeneral {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-self: center;
    align-items: center;
}
.resetAll {
    font-size: .8em;
    padding: 5px 10px;
}

.btnEdit,
.btnSave,
.btnCancel {
    padding: 5px 20px;
    margin-left: 15px;
    font-size: 1em;
}
.characterSettingsInput {
    margin-left: 10px;
    font-size: 1.2em;
    font-family: var(--fontFamily);
}

.characterColor {
    color: green;
}
.enemyColor {
    color: red;
}







.hidden {
    display: none;
}